.container {
  background: url("./assets/background.jpg");
  display: flex;
  background-size: stretch;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

.container__box {
  width: 20rem;
  padding: 3rem;
  margin: 1rem;
  background: #f8f8f8;
  opacity: 0.70;
  border-radius: 5px;
  text-align: center;
  /*text-transform: uppercase;*/
}

.container__box-btn {
  background: lightblue;
  padding: 10px 20px;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.container__box-btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.quote_author {
  font-style: italic;
}

.quote--loading {
  display: flex;
  justify-content: center;
}

.quote--msg {
  margin-top: 20px;
  margin-bottom: 0;
}